html, body {
    min-height: 100%;
    margin: 0;
}

.app {
    height: 100%;
    position: relative;
}

.deck {
    width: 50%;
    margin-bottom: 100px;
    float: left;
}

.searchResults {
    width: 50%;
    margin-bottom: 100px;
    float: left;
}