html, body {
    min-height: 100%;
    margin: 0;
    height: 100%
}

.app {
    height: 100%;
    position: relative;
}

.deck {
    width: 35%;
    margin-bottom: 100px;
    float: left;
}

.searchResults {
    width: 65%;
    margin-bottom: 100px;
    float: left;
    height: 100%;
    background-color: darkgray;
}